<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleDisplayName</key>
	<string>Ski Log</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>滑走ルートと速度を記録するために位置情報を使用します。</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>画面を閉じている間も滑走ルートを記録するために位置情報を使用します。</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>バックグラウンドで滑走ルートを記録するために位置情報を使用します。</string>
	<key>NSMotionUsageDescription</key>
	<string>気圧センサーから滑走中の相対標高を取得するためにモーションデータを使用します。</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Apple Watchから滑走中の心拍数を読み取ります。</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>滑走ワークアウトをHealthKitに保存します。</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
